doctype html
html.no-js
  head
    meta charset="utf-8"
    title yo
    meta name="description" content=""
    meta name="viewport" content="width=device-width, initial-scale=1"
    / Place favicon.ico and apple-touch-icon.png in the root directory

    /! build:css styles/vendor.css
    = "\n"
    /! bower:css
    link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"
    /! endbower
    = "\n"
    /! endbuild
    = "\n"

    /! build:css styles/main.css
    link rel="stylesheet" href="styles/main.css"
    /! endbuild
    = "\n"

    /! build:js scripts/vendor/modernizr.js
    script src="bower_components/modernizr/modernizr.js"
    /! endbuild

    body
      /[if lt IE 10]
        p class="browsehappy"
          | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

      .row
        .large-12.columns &nbsp;
      .row
        .large-centered.large-5.columns
          .panel
            h1 'Allo, 'Allo!
            p You now have
            ul.unstyled
              li
                i.fa.fa-check &nbsp;
                | HTML5 Boilerplate
              li
                i.fa.fa-check &nbsp;
                | Sass
              li
                i.fa.fa-check &nbsp;
                | Modernizr
              li
                i.fa.fa-check &nbsp;
                | Slim
              li
                i.fa.fa-check &nbsp;
                | CoffeScript
              li
                i.fa.fa-check &nbsp;
                | ZURB-Foundation
              li
                i.fa.fa-check &nbsp;
                | FontAwesome

        .large-centered.large-3.columns
          a.center href="#" data-reveal-id="myModal" Click Me For A Modal

          div id="myModal" class="reveal-modal" data-reveal=""
            h2 Awesome. I have it.
            p class="lead" Your couch.  It is mine.
            p I'm a cool paragraph that lives inside of an even cooler modal. Wins!
            a class="close-reveal-modal" &#215;

        .row
          .large-12.columns &nbsp;


      / Google Analytics: change UA-XXXXX-X to be your site's ID.
      javascript:
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');

      = "\n"
      /! build:js scripts/vendor.js
      = "\n"
      /! bower:js
      script src="bower_components/jquery/dist/jquery.js"
      script src="bower_components/foundation/js/foundation.js"
      script src="bower_components/jcarousel/dist/jquery.jcarousel.js"
      /! endbower
      = "\n"
      /! endbuild
      = "\n"

      /! build:js scripts/main.js
      script src="scripts/main.js"
      /! endbuild
